@import '../../index.scss';
.main_container {
  max-width: 100%;
  display: flex;
  // padding: 0.8rem;
  .left_col {
    img {
      border-radius: 10px;
    }
    width: 30%;
  }
  .right_col {
    h2 {
      font-size: 16px;
      font-family: Manrope-Bold;
      font-weight: 600;
      margin: 0rem;
      color: $contract_title;
    }
    .div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .desc {
        p {
          margin: 0.4rem 0rem;
          color: $input_label;
          font-family: Manrope;
          font-size: 12px;
        }
      }
      .icon {
        display: flex;
        align-items: center;
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          .arrow_svg {
            display: flex;
            align-items: center;
            cursor: pointer;

            path {
              fill: $category_title;
            }
          }
        }
      }
    }
    a {
      color: $primary;
      font-family: Manrope;
      font-size: 12px;
    }
    width: 70%;
  }
}
