@import '../../index.scss';
.main_container {
  background-color: $grey;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  .back_arrow {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 25px;
      }
    }
  }
  .home {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 22px;
      }
    }
  }
  .search {
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.2rem;
    border: 1px solid $input_label;
    border-radius: 25px;
    width: 45%;
    button {
      background-color: $white;
      border: none;
      padding: 0rem;
      margin: 0rem;
      border-radius: 30px;
      cursor: pointer;

      .avatar_icon {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    h3 {
      margin: 0rem;
      font-family: Manrope;
      font-size: 14px;
      padding: 0rem 0.5rem;
    }
    button {
      background-color: $white;
      border: none;
      padding: 0rem;
      margin: 0rem;
      border-radius: 30px;
      cursor: pointer;
      .search_arrow {
        position: relative;
        top: 0px;
        right: -5px;
        cursor: pointer;
      }
    }
  }
  .noticification {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 28px;
      }
    }
  }
  .settings {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 28px;
      }
    }
  }
}
